<!DOCTYPE html>
<!--
    Main HTML file for OCRA.
-->
<html>
<head>
    <!-- Set startup title which can be later changed by using
    the value document.title -->
    <title>OCRA</title>

    <!--Set mostly "universal" character set which e.g.
    includes German umlauts (ÄÖÜäöü), ancient scripts etc.-->
    <meta charset="utf-16">

    <!-- CSS loading section -->
    <link rel="stylesheet" href="{{url_for('static', filename='ocra.css')}}">
</head>
<body>
    <input type="button" id="set_tesseract_path" value="Set tesseract path...">
    <output id="tesseract_path"></output>

    Arguments:
    <input type="text" id="tesseract_arguments" size="6">

    Language 1:
    <input type="text" id="tesseract_language_1" size="6">
    2:
    <input type="text" id="tesseract_language_2" size="6">
    <br>

    <input type="button" id="open_project_folder" value="Open OCRA project folder...">
    <output id="project_folder"></output>

    <input type="button" id="open_new_pdf" value="Open new PDF...">

    <!-- PDF page handler -->
    <br>
    <input type="button" id="page_down" value="&lt;">
    Page
    <input type="text" id="current_page" size="6">
    /
    <output id="page_number"></output>
    <input type="button" id="page_goto" value="Go">
    <input type="button" id="page_up" value="&gt;">

    <!-- OCR buttons -->
    <input type="button" id="ocr_overwrite" value="OCR (overwrite text)!">
    <input type="button" id="ocr_append" value="OCR (append to text)!">

    <!-- Clear rects button -->
    <input type="button" id="clear_all_rects" value="Clear all reacts">

    <!-- Image X zoom radio buttons  -->
    <fieldset>
        <legend>X Zoom</legend>

        <input id="x_zoom_range" type="range" min="1" max="150" step="1" value="25" />
        <output id="x_zoom_value"></output>%
    </fieldset>

    <!-- Image Y zoom radio buttons  -->
    <fieldset>
        <legend>Y Zoom</legend>

        <input id="y_zoom_range" type="range" min="1" max="150" step="1" value="25" />
        <output id="y_zoom_value"></output>%
    </fieldset>

    <!-- Rect language state -->
    <fieldset>
        <legend>Rect language</legend>
        <input type="radio" id="rect_language_1" name="rect_language_state" value="1" checked>
        <label for="rect_language_1">1</label>
        <input type="radio" id="rect_language_2" name="rect_language_state" value="2">
        <label for="rect_language_2">2</label>
        <input type="radio" id="rect_language_1_and_2" name="rect_language_state" value="1_and_2">
        <label for="rect_language_1_and_2">1&2</label>
    </fieldset>

    <!--Image div-->
    <canvas id="viewport"></canvas>

    <!-- OCR output -->
    <textarea id="text_field" rows="80" cols="90"></textarea>

    <!-- Rotation setting -->
    <fieldset>
        <legend>Rotation</legend>

        <input id="rotation_range" type="range" min="-180" max="180" step="1" value="1" />
        <output id="rotation_value"></output>°
    </fieldset>

    <!-- DPI setting -->
    <fieldset>
        <legend>DPI</legend>

        <input id="dpi_range" type="range" min="150" max="700" step="25" value="500" />
        <output id="dpi_value"></output> dpi
    </fieldset>

    <!-- Black & white binarization setting -->
    <fieldset>
        <legend>Black & white binarization</legend>

        <input type="checkbox" id="binarization_is_active">
        <label for="binarization_is_active">Activate</label>

        <input id="binarization_range" type="range" min="50" max="210" step="10" value="130" />
        <output id="binarization_value"></output>
    </fieldset>

    <!-- JavaScript loading section -->
    <script src="{{url_for('static', filename='./socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
